In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
stats_df = pd.read_csv("stats.csv", index_col=0)

players_df = pd.read_csv("players.csv", index_col=0)

In [3]:
def find_similar_players(stats_df, players_df, base_player_id, num_of_players_to_find):
    
    player_ids = stats_df["player_id"]
    stats_df = stats_df.set_index("player_id")
    
    player = stats_df.loc[base_player_id]
    
    stats_df = stats_df.drop([base_player_id], axis=0)
    
    stats = stats_df.values
    player = player.values
    player = player.reshape(1, -1)
    
    neigh = NearestNeighbors(n_neighbors=num_of_players_to_find)
    neigh.fit(stats)
    
    result = neigh.kneighbors(player, return_distance=False)
    
    result_df = pd.DataFrame(columns=["player_id"])
    
    result_ids = [0] * 10
    
    for i in range(10):
        result_ids[i] = player_ids.iloc[result[0][i]]
    
    result_df["player_id"] = pd.Series(result_ids)
    result_df = result_df.merge(players_df, on="player_id", how="left")
    
    return result_df

In [4]:
find_similar_players(stats_df, players_df, 5583, 10).iloc[:] #cristiano ronaldo

,player_id,player_name,age,country,height_cm,position,weight_kg
0,83532,Harry Kane,24,gb,188,"AM(C),FW",86
1,328443,Marko Kvasina,21,at,194,Forward,82
2,70141,Ciro Immobile,28,it,185,FW,78
3,70967,André André,28,pt,174,M(C),65
4,14260,Sergio Agüero,30,ar,173,"AM(CL),FW",70
5,43921,Gonçalo,31,pt,184,DMC,79
6,106964,Mauro Icardi,25,ar,181,FW,75
7,50835,Neymar,26,br,175,"AM(CLR),FW",68
8,9730,Fabio Quagliarella,35,it,180,FW,79
9,22221,Luis Suárez,31,uy,182,"AM(CLR),FW",86

In [5]:
find_similar_players(stats_df, players_df, 11119, 10).iloc[:] #lionel messi

   player_id        player_name  age country  height_cm    position  weight_kg
0      95422       Jordan Ferri   26      fr        172        M(C)         70
1      32196       Siem de Jong   29      nl        185    AM(C),FW         76
2      80443     Filip Djuricic   26      rs        176      AM(CL)         69
3     300624   Marco Tumminello   19      it        180     Forward         76
4     108226      Mohamed Salah   26      eg        175  AM(CLR),FW         71
5     114863       Paulo Dybala   24      ar        177    AM(C),FW         75
6      33404        Eden Hazard   27      be        173   M(CLR),FW         76
7     109109  Ricardo van Rhijn   27      nl        179        D(R)         72
8     312690       Jon Bautista   23      es        180          FW         72
9      70967        André André   28      pt        174        M(C)         65