In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
stats_df = pd.read_csv("stats.csv", index_col=0)
player_ids = stats_df["player_id"]
stats_df.set_index("player_id", inplace=True)

players_df = pd.read_csv("players.csv", index_col=0)

In [3]:
player_id = 77438 #cristiano ronaldo 5583
player = stats_df.loc[player_id]
stats_df.drop([player_id], axis=0, inplace=True)

stats = stats_df.values
player = player.values
player = player.reshape(1, -1)

In [4]:
neigh = NearestNeighbors(n_neighbors=10)
neigh.fit(stats_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=10, p=2, radius=1.0)

In [5]:
result = neigh.kneighbors(player, return_distance=False)

In [6]:
print(result)

[[1842  578 2777  134  848  193 2872 2420  452 2135]]

In [7]:
result_df = pd.DataFrame(columns=["player_id"])

result_ids = [0] * 10

for i in range(10):
    result_ids[i] = player_ids.iloc[result[0][i]]

result_df["player_id"] = pd.Series(result_ids)
result_df = result_df.merge(players_df, on="player_id", how="left")
result_df.iloc[:]

   player_id          player_name  age country  height_cm  position  weight_kg
0     135563             Paulinho   25      pt        187        FW         75
1     294169        Kevin Lasagna   25      it        185  AM(L),FW         80
2      29231      Evgen Seleznyov   32      ua        185        FW         77
3     111141         Oumar Niasse   28      sn        182        FW         75
4      22325      Ángel Rodríguez   31      es        172        FW         68
5     134115        Callum Wilson   26      gb        180        FW         66
6     133381      Vincent Janssen   24      nl        180        FW         79
7     343393            Tom Boere   25      nl        183        FW         80
8     329681      Patrick Cutrone   20      it        183        FW         75
9       8013  Klaas-Jan Huntelaar   34      nl        186        FW         83