In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
stats_df = pd.read_csv("data/stats.csv", index_col=0)

players_df = pd.read_csv("data/players.csv", index_col=0)

In [3]:
def find_similar_players(stats_df, players_df, base_player_id, num_of_players_to_find):
    
    player_ids = stats_df["player_id"]
    stats_df = stats_df.set_index("player_id")
    
    player = stats_df.loc[base_player_id]
    
    stats_df = stats_df.drop([base_player_id], axis=0)
    
    stats = stats_df.values
    player = player.values
    player = player.reshape(1, -1)
    
    neigh = NearestNeighbors(n_neighbors=num_of_players_to_find)
    neigh.fit(stats)
    
    result = neigh.kneighbors(player, return_distance=False)
    
    result_df = pd.DataFrame(columns=["player_id"])
    
    result_ids = [0] * 10
    
    for i in range(10):
        result_ids[i] = player_ids.iloc[result[0][i]]
    
    result_df["player_id"] = pd.Series(result_ids)
    result_df = result_df.merge(players_df, on="player_id", how="left")
    
    return result_df

In [4]:
find_similar_players(stats_df, players_df, 5583, 10).iloc[:] #cristiano ronaldo

,player_id,player_name,team,age,country,avg_rating,height_cm,position,weight_kg
0,83532,Harry Kane,Tottenham,24,gb,7.60,188,"AM(C),FW",86
1,345355,Joaquín Ibáñez,Chacarita Juniors,22,ar,6.26,166,AM(C),65
2,70141,Ciro Immobile,Lazio,28,it,7.39,185,FW,78
3,71182,James Rodríguez,Bayern Munich,27,co,7.63,180,AM(CLR),75
4,70967,André André,FC Porto,28,pt,6.29,174,M(C),65
5,345669,Enzo Cabrera,Newells Old Boys,18,ar,6.25,175,Forward,0
6,43921,Gonçalo,Aves,31,pt,6.17,184,DMC,79
7,43921,Gonçalo,Estoril,31,pt,6.46,184,DMC,79
8,50835,Neymar,Paris Saint Germain,26,br,8.95,175,"AM(CLR),FW",68
9,106964,Mauro Icardi,Inter,25,ar,7.28,181,FW,75
10,279479,Pedro Rocha,Spartak Moscow,23,br,6.48,178,"AM(LR),FW",74

In [5]:
find_similar_players(stats_df, players_df, 11119, 10).iloc[:] #lionel messi

,player_id,player_name,team,age,country,avg_rating,height_cm,position,weight_kg
0,95422,Jordan Ferri,Lyon,26,fr,6.33,172,M(C),70
1,32196,Siem de Jong,Ajax,29,nl,6.45,185,"AM(C),FW",76
2,80443,Filip Djuricic,Sampdoria,26,rs,6.00,176,AM(CL),69
3,80443,Filip Djuricic,Benevento,26,rs,6.75,176,AM(CL),69
4,300624,Marco Tumminello,Roma,19,it,6.00,180,Forward,76
5,300624,Marco Tumminello,Crotone,19,it,6.44,180,Forward,76
6,108226,Mohamed Salah,Liverpool,26,eg,7.69,175,"AM(CLR),FW",71
7,114863,Paulo Dybala,Juventus,24,ar,7.77,177,"AM(C),FW",75
8,336915,Scott McTominay,Manchester United,21,gb,6.48,193,DMC,88
9,312690,Jon Bautista,Real Sociedad,23,es,6.14,180,FW,72
10,109109,Ricardo van Rhijn,AZ Alkmaar,27,nl,6.43,179,D(R),72
11,322750,Adama Diakhaby,Monaco,22,fr,6.41,188,"AM(L),FW",74

In [6]:
find_similar_players(stats_df, players_df, 9909, 10).iloc[:] #sergio ramos

,player_id,player_name,team,age,country,avg_rating,height_cm,position,weight_kg
0,9407,Xabi Prieto,Real Sociedad,34,es,6.84,187,M(CLR),76
1,74909,Júnior Caiçara,Istanbul Basaksehir,29,br,7.09,173,"D(R),M(R)",70
2,329246,Patrick Burner,Nice,22,fr,6.80,170,D(R),65
3,121771,Filipe Augusto,Benfica,24,br,6.82,182,DMC,78
4,121771,Filipe Augusto,Alanyaspor,24,br,6.53,182,DMC,78
5,14075,Jonás Gutiérrez,Independiente,35,ar,7.05,183,"D(LR),M(CLR)",73
6,21666,Fin Bartels,Werder Bremen,31,de,6.81,176,"M(CLR),FW",69
7,319388,Valentin Rosier,Dijon,21,fr,6.74,175,D(LR),70
8,296319,Moussa Niakhate,Metz,22,fr,6.61,190,D(C),82
9,135610,Sergio León,Real Betis,29,es,6.61,178,FW,73
10,102234,Manu Trigueros,Villarreal,26,es,6.91,178,M(C),71

In [7]:
find_similar_players(stats_df, players_df, 97752, 10).iloc[:] #paul pogba

,player_id,player_name,team,age,country,avg_rating,height_cm,position,weight_kg
0,52380,Radja Nainggolan,Roma,30,be,7.16,176,M(C),65
1,26820,Aaron Ramsey,Arsenal,27,gb,7.27,178,M(CR),76
2,21457,Demba Ba,Goztepe,33,sn,7.04,189,FW,90
3,34239,Sofiane Feghouli,Galatasaray,28,dz,7.06,177,M(CR),75
4,135350,Pedro Tiba,Chaves,29,pt,6.89,174,DMC,74
5,297203,Pablo Fornals,Villarreal,22,es,6.90,178,M(CLR),67
6,67307,Nicolas Viola,Benevento,28,it,6.87,180,DMC,76
7,130573,Anderson Talisca,Besiktas,24,br,7.36,191,"AM(C),FW",80
8,104749,Riyad Mahrez,Leicester,27,dz,7.28,179,AM(CLR),67
9,12158,Ryan Babel,Besiktas,31,nl,7.24,185,"M(L),FW",85

In [8]:
find_similar_players(stats_df, players_df, 77438, 10).iloc[:] #cenk tosun

,player_id,player_name,team,age,country,avg_rating,height_cm,position,weight_kg
0,329620,Lebo Mothiba,Lille,22,za,6.66,181,FW,78
1,111141,Oumar Niasse,Everton,28,sn,6.64,182,FW,75
2,294169,Kevin Lasagna,Udinese,25,it,6.83,185,"AM(L),FW",80
3,133839,Giovanni Simeone,Fiorentina,23,ar,6.87,180,"AM(R),FW",81
4,303779,Maximiliano Romero,Velez Sarsfield,19,ar,6.80,179,FW,72
5,22325,Ángel Rodríguez,Getafe,31,es,6.78,172,FW,68
6,14546,Marco Ruben,Rosario Central,31,ar,6.55,179,FW,72
7,29072,Stevan Jovetic,Monaco,28,me,7.01,183,"AM(C),FW",79
8,135563,Paulinho,Braga,25,pt,7.09,187,FW,75
9,115514,Luka Djordjevic,Arsenal Tula,24,me,6.52,185,FW,74