In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
stats_df = pd.read_csv("stats.csv", index_col=0)
player_ids = stats_df["player_id"]
stats_df.set_index("player_id", inplace=True)

players_df = pd.read_csv("players.csv", index_col=0)

In [3]:
player_id = 5583 #cristiano ronaldo 5583
player = stats_df.loc[player_id]
stats_df.drop([player_id], axis=0, inplace=True)

stats = stats_df.values
player = player.values
player = player.reshape(1, -1)

In [4]:
neigh = NearestNeighbors(n_neighbors=10)
neigh.fit(stats_df)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=10, p=2, radius=1.0)

In [5]:
result = neigh.kneighbors(player, return_distance=False)

In [6]:
result_df = pd.DataFrame(columns=["player_id"])

result_ids = [0] * 10

for i in range(10):
    result_ids[i] = player_ids.iloc[result[0][i]]

result_df["player_id"] = pd.Series(result_ids)
result_df = result_df.merge(players_df, on="player_id", how="left")
result_df.iloc[:]

,player_id,player_name,age,country,height_cm,position,weight_kg
0,83532,Harry Kane,24,gb,188,"AM(C),FW",86
1,328443,Marko Kvasina,21,at,194,Forward,82
2,14260,Sergio Agüero,30,ar,173,"AM(CL),FW",70
3,50835,Neymar,26,br,175,"AM(CLR),FW",68
4,70967,André André,28,pt,174,M(C),65
5,9730,Fabio Quagliarella,35,it,180,FW,79
6,43921,Gonçalo,31,pt,184,DMC,79
7,106964,Mauro Icardi,25,ar,181,FW,75
8,70141,Ciro Immobile,28,it,185,FW,78
9,302588,Bernardo,23,br,186,D(LR),76